*{
    margin: 0;
    box-sizing: border-box;
}
::-moz-selection{
    background-color: DarkSeaGreen;
}
::selection{
    background-color: DarkSeaGreen;
}

/* --------------------------------------------------------*/
/* --- Main rules -------*/
/* -------------------------*/

body{
    font-family: -apple-system, georgia;
    color: DarkSlateGray;
    background-color: LightYellow;
    padding-top: 15vh;
    padding-bottom: 15vh;
}
section{
    margin: 0 auto;
    width: 70%;
    max-width: 800px;
}

p, ul, blockquote{
    font-size: 1.1rem;
    line-height: 1.7em;
    margin-bottom: 0.8em;
}

h1, h2{
    font-weight: 900;
}

h1{
    font-size: 2.3rem;
    line-height: 1.5em;
    margin-bottom: 5vh;
}
h2{
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 1em;
}

h3{
    font-weight: bold;
    font-size: 1.2rem;
}

a{
    color: darkolivegreen;
}
a:hover{
    color: Darkslategrey;
}

img{
    margin-bottom: 0.8em;
    max-width: 100%; 
}

.insidepage{
    font-weight: bold;
}

/* --------------------------------------------------------*/
/* --- Cahier -------*/
/* -------------------------*/

#cahier{
    margin-top: 50px;
    display: grid;
    grid-gap: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.idea{
    border: 1px solid DarkKhaki;
    padding: 1rem;
}

.idea-title{
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.label{
    font-size: 0.7rem;
    background-color: peachpuff;
    padding: 0 5px 0 5px;
    margin-bottom: 3px;
    display: inline-block;
}

.telecharger{
    background-color: lightsalmon;
}

.visibiliser{
    background-color: lightpink;
}

.materialiser{
    background-color: gold;
}

.moment{
    background-color: lightcoral;
}

.friction{
    background-color: lightCyan;
}

.fonctionnalité{
    background-color: powderblue;
}

.vocabulaire{
    background-color: lavender;
}

.faible{
    background-color: white;
}

.moyen{
    background-color: lightgreen;
}

.fort{
    background-color: aquamarine;
}